.rc_home{
    
    &-statistic{

    }
    &-table{
        margin-top: 30px;
        padding: 30px;
        background-color: white;
        border-radius: 5px;
        margin-bottom: 70px;
        &-title{
            display: flex;
            justify-content: space-between;
            padding-bottom: 17px;
                border-bottom: 1px solid rgba(0,0,0,.125);
            & .right{
                font-size: 1.01rem;
                color: #919191;
                font-weight: 400;
            }
        }
        &-body{
            padding-top: 20px;
            padding-bottom: 15px;
            & .text{
                text-align: center;
                padding-top: 30px;
                font-size: 1.2rem;
            }
        }
        &-pagination{
            //padding-bottom: 50px;
            .ant-pagination{
            //float:right;
            margin-bottom: 30px;
            }
        }
    }

}