.rc_button {
    min-width: 140px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.24;
    color: #ffffff;
    outline: none;
    border-radius: 2px;
    padding: 8px 8px 7px 8px;
    text-transform: uppercase;
    border: 1px solid #7bce92;
    background-color: #7bce92;
    &-block {
        width: 100%;
    }
    &-red {
        background-color: #e65454;
        border-color: #e65454;
    }
    &-yellow {
        background-color: #eec169;
        border-color: #eec169;
    }
    &-medium {
        min-width: 216px;
        padding: 11px 10px 10px 10px;
    }
    &-large {
        font-size: 18px;
        line-height: 1.22;
        padding: 14px;
    }
    &-extralarge {
        font-size: 18px;
        line-height: 1.22;
        padding: 19px 20px 18px 20px;
    }
}