.ant-table-thead > tr > th{
    border: 1px solid #f0f0f0;
    color: black;
    font-weight: 600;
}
.ant-table-tbody > tr > td{
    border: 1px solid #f0f0f0;
}
.ant-table-tbody > tr > td:last-child{
    border: 1px solid #f0f0f0;
    color: #17c48a!important;
}
