.addition {
    background-color: #272a31;
    padding: 24px;

    &__title {
        color: #ffffff;
        font-size: 18px;
        margin-bottom: 7px;
    }

    &__add_new_label {
        cursor: pointer;
        color: #2fa2db !important;
        text-decoration: underline;
    }

    &__label_action {
        @include flexbox;
        @include justify-content(space-between);
        margin-bottom: 2px;
    }

    .select_box {
        height: 40px;
    }
    
    label{
        margin-bottom: 3px;
    }
}