.list_camera {
    @include flexbox;
    @include flex-wrap(wrap);
    width: calc(100% + 20px);

    @media (max-width: 767px) {
        @include justify-content(space-between);
    }

    @media (max-width: 475px) {
        @include justify-content(space-between);
    }
    .identification{
        position: static;
    }

    &.layout-5{
        .list_camera__item{
            width: calc((100% / 5) - 20px);
        }
    }
    &.layout-8{
        .list_camera__item{
            width: calc((100% / 8) - 20px);
            .img-camera{
                height: 110px;
            }
            .cam_name{
                font-size: 13px;
            }
        }
        .info {
            .time {
                font-size: 13px;
                margin-bottom: 2px
            }
        }
    }

    &__item {
        @include flexbox;
        @include flex-direction(column);
        @include transition(all 0.2s ease-in-out);
        width: calc((100% / 6) - 20px);
        position: relative;
        margin: 0 20px 20px 0;
        cursor: pointer;
        border: 2px solid #212227;
        overflow: hidden;

        @media (max-width: 1499px) {
            width: calc((100% / 4) - 20px) !important;
        }

        @media (max-width: 991px) {
            width: calc((100% / 3) - 20px) !important;
        }

        @media (max-width: 767px) {
            width: calc((100% / 2) - 20px) !important;
        }

        @media (max-width: 475px) {
            width: 100% !important;
        }

        &.active,
        &:hover {
            border: solid 2px #f4a239;

            .info {
                background-color: #242b31;

                .time {
                    color: #f4a239;
                    
                }
            }
        }

        .img-camera {
            width: 100%;
            height: 170px;
            background: #121315;
            overflow: hidden;
            @include flex_center;
            img{
                width: 100%;
            }
        }

        .info {
            @include transition(all 0.2s ease-in-out);
            @include fw-medium;
            padding: 7px 10px;
            background-color: rgba(0, 0, 0, 0.45);
            width: 100%;
            line-height: normal;
           
        }
        .time{
            margin-bottom: 5px;
        }
        .cam_name {
            @include fw-normal;
            color: #dfdfdf;
            font-size: 14px;
        }
        .identification{
            .triangle{
                width: 27px;
                height: 44px;
                border: solid 2px #50d441;
                position: absolute;
            }
        }
    }
}

.camera_auto_list {
    @include flexbox;
    @include flex-wrap(wrap);
    position: relative;
    width: 100%;
    padding: 0 10px 15px 2px;
    .btn_closeAll {
        position: fixed;
        right: 5%;
        top: 12%;
    }

    &__item {
        .camera_live {
            overflow: hidden;
            background: none;
        }
    }

    &__unauthorized {
        @include fw-light;
        padding: 12px 5px 5px 5px;
        text-align: center;
        color: #ff3d3d;
        background-color: #171c1f;
        height: 100%;
        width: 100%;

        .unauthorized_icon {
            font-size: 40px;
        }

        .notification {
            font-size: 14px;
            margin-bottom: 10px;

            .small_text {
                font-size: 6px;
            }
        }
        .btn_grey{
            max-width: 60px;
            width: 100%;
        }
    }
}