
body{
    font-size: 16px;
    font-family: $RobotoRegular;
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: unset;
}

input {
    outline: none;
}

ul.list-style-none {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main_wapper {
    &.sidebar-mini{
        & .main_container{
            & .Header{
                margin-left: 70px;
                transition: margin-left .3s ease-in-out;
                z-index: 999;
                //max-width: calc(100% - 70px);
                min-width: calc(100% - 70px);
            }
            & .left-sidebar{
                transition: margin-left .3s ease-in-out,width .3s ease-in-out;
                margin-left: 0;
                width: 4.6rem;
                & .scroll-sidebar .sidebar-nav #sidebarnav .sidebar-item .sidebar-link span{
                    display: none;
                }
            }
            & .left-sidebar:hover{
                width: 260px;
                z-index: 9999 !important;
                background: #fff;
                transition: margin-left .3s ease-in-out;
                & .Header_logo{
                    width: 260px;
                    transition: margin-left .3s ease-in-out;
                }
                & .scroll-sidebar .sidebar-nav #sidebarnav .sidebar-item .sidebar-link span{
                    display: block;
                    transition: margin-left .3s ease-in-out;
                }
            }
            & .page-wrapper{
                margin-left: 4.6rem!important;
            }
        }
    }
}
.page-wrapper{
    margin-left: 260px;
    margin-right: 17px;
    background-color: #f8f9fa;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 1024px;
    transition: margin-left .3s ease-in-out;
    & .react-datepicker-wrapper .react-datepicker__input-container input{
        height: 40px;
        padding:  0 10px;
        border: 1px solid #d9d9d9;
        width: 100%;
    }
    @media(max-width: 960px){
        margin-left: 0px;
        transition: margin-left .3s ease-in-out;
    }
}
.main_content {
    @include scrollbar;
    background-color: #f8f9fa;
    //min-height: calc(100vh - 60px);
    //max-height: calc(100vh - 60px);
    padding: 30px 35px 0 35px;
    //overflow-y: auto;
    //overflow-x: hidden;

    @media(max-width: 767px){
        margin-top: 60px;
        padding:40px 20px 30px 20px;
    }
    &.hasSidebar{
        padding-right: 0 !important;
        @media(max-width: 767px){
            padding-right: 25px !important;
        }
    }
    &.auto_list{
        padding: 0 !important;  
    }
}

.main_container{
    @include flex(1);
    overflow: hidden;
}

.left-sidebar {
    position: fixed;
    width: 260px;
    height: 100%;
    z-index: 20 !important;
    transition: margin-left .3s ease-in-out;
    @media (max-width: 960px) {
            left: -260px;
            transition: margin-left .3s ease-in-out,width .3s ease-in-out;
    }
    & .scroll-sidebar {
        border-right: 1px solid #dee2e6 ;
        background: #fff;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 50px;
        transition: margin-left .3s ease-in-out;
        & .sidebar-nav{
           transition: margin-left .3s ease-in-out;
            & #sidebarnav{
                list-style: none;
                padding-left: 10px;
                & .sidebar-item{
                    padding: 10px 10px;
                    & .sidebar-link{
                        color: #343a40;
                        display: flex;
                        align-items: center;
                        &.active{
                            color: #17c48a;
                            display: flex;
                            border-left: 2px solid #17c48a;
                            & i span{
                                color: #17c48a;
                            }
                        }
                        & i{
                            font-size: 30px;
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
}

