
body{
    font-size: 16px;
    font-family: $RobotoRegular;
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: unset;
}

input {
    outline: none;
}

ul.list-style-none {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main_wapper {
    @include flexbox;
    &.mini-sidebar {
        &.active{
            .sidebar {
                @include transform(translateX(0));
            }
            .sidebar_toggler{
                @include transform(translateX(245px));
            }
        }
        .sidebar{
            position: absolute;
            @include transform(translateX(-245px));
            .nav {
                .nav-link {
                    .icon {
                        margin: 0;
                    }
                }
            }
        }
        .sidebar_toggler{
            @include transition(all 0.4s ease);
        }
    }
}
.page-wrapper{
    margin-left: 260px;
    margin-right: 17px;
    background-color: #f8f9fa;
    position: relative;
    box-shadow: 0 3px 9px 0 rgba(162, 176, 190, 0.15);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 1024px;
}
.main_content {
    @include scrollbar;
    background-color: #f8f9fa;
    //min-height: calc(100vh - 60px);
    //max-height: calc(100vh - 60px);
    padding: 30px 35px 0 35px;
    //overflow-y: auto;
    //overflow-x: hidden;

    @media(max-width: 767px){
        margin-top: 60px;
        padding:40px 20px 30px 20px;
    }
    &.hasSidebar{
        padding-right: 0 !important;
        @media(max-width: 767px){
            padding-right: 25px !important;
        }
    }
    &.auto_list{
        padding: 0 !important;  
    }
}

.main_container{
    @include flex(1);
    overflow: hidden;
}

.left-sidebar {
    position: absolute;
    width: 260px;
    height: 100%;
    top: 80px;
    z-index: 10;
    background: 0 0;
    transition: .2s ease-in;
    z-index: 9999;
    @media (max-width: 768px) {
            left: -260px;
    }
    & .scroll-sidebar {
        background: #fff;
        height: calc(100% - 230px);
        overflow-y: auto;
        padding-bottom: 50px;
        & .sidebar-nav{
            & #sidebarnav{
                list-style: none;
                margin-left: -10px;
                & .sidebar-item{
                    padding: 10px 0px;
                    & .sidebar-link{
                        color: #343a40;
                        display: flex;
                        align-items: center;
                        &.active{
                            color: #17c48a;
                            display: flex;
                            & i span{
                                color: #17c48a;
                            }
                        }
                        & i{
                            font-size: 30px;
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
}

