.settingTab {
    &__header {
        @include flexbox;
        @include flex-wrap(wrap);

        .heading__label {
            flex-grow: 1;
            width: unset;
        }
    }

    &__side {
        border: solid 1px #393c42;
        padding: 15px;
        height: 100%;
    }

    .tab_action {
        @media(max-width:991px) {
            margin-top: 20px;

            .settingTab__title {
                top: 0.7vh;
            }
        }

    }

    &__title {
        font-size: 14px;
        position: absolute;
        top: -1.6vh;
        background-color: #272a31;
        padding: 5px 10px;
    }

    &__icon {
        @include flex_center();
        background: #f4a239;
        padding: 0 8px;
        border-radius: 0 3px 3px 0;

        img {
            width: 75%;
        }

        i {
            padding: 5px;
            color: #ffffff;
        }
    }

    &__select_day {
        background: #23262d;

        &::before {
            left: 14px;
        }

        .form-control {
            padding-left: 34px;

        }
    }

    &__form_control {
        .form-control {
            border-radius: 3px 0 0 3px;
        }
    }

    .icon_select {
        z-index: 2;
    }

    &__time_start {
        @include flexbox;
        @include align-items(baseline);
        @include flex-wrap(wrap);

        @media(max-width:520px) {
            display: block;
        }
    }

    &__pick_time_start {
        @include flexbox;

        @media(max-width:520px) {
            padding-top: 10px;
        }

        .time_count {
            width: 95px;
            margin: 0 15px;

            @media(max-width:520px) {
                margin: 0;
            }
        }

        .time_unit {
            width: 95px;


        }
    }

    &__list {
        overflow-y: scroll;
        max-height: 350px;
        width: calc(100% + 15px);
        @include scrollbarTable;
        min-height: 400px;
        &.disabled {
            opacity: 0.35;
        }
    }

    &__list_all {
        width: calc(100% + 10px);
    }

    &__list_item {
        @include flexbox();
        @include align-items(baseline);
        margin-bottom: 12px;


        .text_name {
            padding-left: 9px;
        }

        .checkbox_yellow {
            margin-left: auto;
        }

        .icon {
            color: #bababa;
        }

        .settingTab__modal_camera_area::before {
            @include transition(all 0.5s);
            content: "\f107";
            font-family: 'Line Awesome Free';
            font-weight: 900;
            font-size: 14px;
            padding: 4px;
            display: inline-block
        }

        &.active {
            .settingTab__modal_camera_area::before {
                @include transform(rotateZ(180deg));
            }
        }
    }

    &__list_title {
        border-bottom: solid 1px #393c42;
        margin-bottom: 12px;

        span {
            color: #8b8b8b;
            font-size: 14px;
        }
    }

    .head_button {
        @media(max-width:767px) {
            text-align: center;
        }

        .btn {
            @media(max-width:767px) {
                width: unset;
                margin: 7px;
                padding: 5px 30px;
            }
        }

        .red_outline {
            @media(max-width:767px) {
                padding: 5px 26px;
            }
        }

        .green_outline {
            @media(max-width:767px) {
                padding: 5px 39px;
            }
        }

    }

}

#modalCameraSetting {
    .settingTab__list_item {
        @include align-items(center);
       
        .img_icon_cam {
            width: 20px;
            margin-right: 9px;
        }
    }

    ul {
        li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}

.fontawesome-select {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
}