.Header{
    margin-left: 260px;
    position: fixed;
    height: 55px;
    width: 100%;
    background-color: #fff!important;
    border-bottom:1px solid #dee2e6!important;
    box-shadow: inset -1px 0 0 #e2e2ea;
    z-index: 2;
    display: flex;
    transition: margin-left .3s ease-in-out;
    max-width: calc(100% - 250px);
    &_logo{
        height: 55px;
        border-bottom: 1px solid #dee2e6 !important;
        transition: margin-left .3s ease-in-out;
        &-img{
            width: 150px;
            height: 100%;
            margin-left: 32px;
        }
    }
    &_right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &-bar {
            & a{
                padding-left: 15px;
            }
            & i{
            color: #17c48a;
        }
        }
        &-link{

        }
        &-list{
            display: flex;
            list-style: none;
            line-height: 38px;
            margin: 0;
            & img{
                float: right;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin-right: 10px;
                margin-top: -2px;
            }
            &-home{
                padding-right: 10px;
                border-right: 1px solid #afafaf;
                & a{
                    text-decoration: none;
                    color: black;
                    & i{
                        padding-right: 10px;
                    }
                }
            }
            &-user{
                padding: 0 15px;
                & .Dropdown-menu{
                    position: absolute;
                    display: none;
                    &-show{
                        position: absolute;
                        display: block !important;
                        right: 1px;
                    }
                    &-list{
                        padding: 5px 0;
                        margin: 15px 15px 0px 0px;
                        background-color: #fff;
                        border: 1px solid rgba(0,0,0,.15);
                        width: 300px;
                        padding: 5px 0;
                        list-style-type: none;
                        border-radius: .25rem;
                        //box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
                    }
                    &-item{
                        cursor: pointer;
                        display: block;
                        width: 100%;
                        padding: .25rem 1rem;
                        clear: both;
                        font-weight: 400;
                        color: #212529;
                        text-align: inherit;
                        white-space: nowrap;
                        background-color: transparent;
                        border-top: 1px solid #e9ecef;
                        font-size: 18px!important;
                        & i{
                            padding-right: 10px;
                        }
                    }
                    &-item:first-child{
                        border-top: none;
                    }
                }
            }
            &-drop{
                    position: relative;
                    display: flex;
                    align-items: center;
                    color: black;
                    cursor: pointer;
                    & span::after{
                        display: inline-block;
                        width: 0;
                        height: 0;
                        margin-left: .255em;
                        vertical-align: .255em;
                        content: "";
                        border-top: .3em solid;
                        border-right: .3em solid transparent;
                        border-bottom: 0;
                        border-left: .3em solid transparent;
                    }
            }
        }
    }
}
