.device__status--of{
    padding: 4px 8px 4px 10px;
    border-radius: 2px;
    background-color: #9eabbe;
    color: white;


}
.device__status--on{
    padding: 4px 8px 4px 10px;
    border-radius: 2px;
    color: white;
    background-color: #7bce92;
}

// deviceInfo
.device__info{
    color:white;
    background: #242731;
    padding: 10px;
    &--image{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: solid 1px #ffffff49;
        & img{
            padding-bottom: 10px;
            padding-top: 20px;
        }
        & p{
             font-family: HelveticaNeue;
            font-size: 23px;
            font-weight: 500;
        }
    }
    &--detail{
        &-info{
            display: flex;
            justify-content: space-between;
            & p{
                color:#9eabbe;
            }
        }
    }
    &--action{
        &-info{
            display: flex;
            justify-content: space-between;
            & p{
                color:#9eabbe;
            }
        }
    }
    &--delete{
        width: 140px;
        height: 38px;
        border-radius: 2px;
        background-color: #e65454;
        border:none;
        margin-right: 10px;
    }
    &--edit{
        width: 140px;
        height: 38px;
        border-radius: 2px;
        background-color: #eec169;
        border:none;
    }
}