.rc_searchPopup{
    padding: 1rem;
    .rc_customOption{
        width: 100%;
        .ant-select-selector {
            background-color: #fff;
            color: #9eabbe;
            border: 1px solid #ced4da;
        }
    }
}
.rc_pulldow_smart{
    .rc-pulldown_dropdowncontainer{
        .ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled){
            background-color: #005197;
            color: white;
           
        }
        .ant-select-item-option-selected:not(.ant-select-item-option-disabled){
            background-color: #005197;
            font-weight: normal;
        }
    }
    .ant-select-lg{
            width: 100%;
        }
}