.rc_summary{
    height: 132px;
    .icon{
        position: absolute;
        top: 15px;
        left: 30px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        img{
            width: 100%;
        }
    }
    .content{
        .number{
            font-size: 80px;
            font-weight: 500;
        }
        .unit{
            position: relative;
            top: -20px;
        }
    }
}